certifi==2025.1.31 ; python_version >= "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.12"
crtgen @ git+https://github.com/Aiden-Yoo/CRTGen@78abfa4d22e56715a25d4943ea42cb6824fda522 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
pycryptodome==3.22.0 ; python_version >= "3.12"
pygments==2.19.1 ; python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
rich==14.0.0 ; python_version >= "3.12"
urllib3==2.4.0 ; python_version >= "3.12"
